@use '../vars' as *;

.button {
    background-color: $main_color;
    border: 1px solid $main_color;
    color:white;
    padding: 10px 30px;
    cursor: pointer;
    transition: $main_transition;
    display: inline-block;
    line-height: 1;
    font-family: $main_fonts;
    font-size: 16px;
    border-radius: 50px;

    &:hover {
        background-color: $hover_color;
    }
}

.button-white {
    background-color: $pure_color;
    color: $black_color;
    border: 1px solid $pure_color;
    text-decoration: none;

    &:hover{
        color: white;
        text-decoration: none;
        border-color: $main_color;
    }
}

.presentation_button {
    background-color: $sub_color;
    color: white;
    border: 1px solid $sub_color;
    display: inline-flex;
    flex-direction: row;
    width: 100px;
    align-items: center;
    gap: 10px;
    border-radius: $border_rad;
    padding: 20px 60px;

    .sprite_icon {
        width: 47px;
        height: 47px;
        fill: white;
        margin: 0;
        display: inline-block;
    }

    &:hover {
        color: white;
        text-decoration: none;
        border-color: $main_color;
    }
}

